<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/Content/css/styles.css" type="text/css">
    <title>Best Restaurants In Town</title>
  </head>
  <body>
    <h1 class="text-center">Best Restaurants In Town</h1>
    <hr/>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>
