@{
  Layout="Shared/_Layout.cshtml";
}

@if(Model["form-type"] == "cuisine")
{
  <h1 class="text-center">Add a cuisine</h1>
  <form action="/" method="post">
    <div class="form-group">
      <label for="cuisine-input">Enter the type of cuisine</label>
      <input type="text" name="cuisine-input" class="form-control">
    </div>
    <button type="submit" class="btn btn-info">Add cuisine</button>
  </form>
}

@if(Model["form-type"] == "restaurant")
{
  <h1 class="text-center">Add a restaurant</h1>
  <form action='/cuisine/@Model["selected-cuisine"].GetId()/restaurants' method="post">
    <div class="form-group">
      <label for="restaurant-name-input">Restaurant name:</label>
      <input type="text" name="restaurant-name-input" id="restaurant-name-input" class="form-control">
    </div>
    <div class="form-group">
      <label for="restaurant-stars-input">How many stars would you rate it?</label>
      <input type="number" name="restaurant-stars-input" id="restaurant-stars-input" class="form-control">
    </div>
    <button type="submit" class="btn btn-info">Add restaurant</button>
  </form>
}

@if(Model["form-type"] == "cuisine-update")
{
  <h1 class="text-center">Edit your cuisine</h1>
  <form action='/cuisine/@Model["selected-cuisine"].GetId()/update' method="post">
    <div class="form-group">
      <input type="hidden" name="_method" value="PATCH">
      <label for="cuisine-input">Enter the type of cuisine</label>
      <input type="text" name="cuisine-input" class="form-control" value='@Model["selected-cuisine"].GetName()'>
    </div>
    <button type="submit" class="btn btn-info">Update cuisine</button>
  </form>
}

@if(Model["form-type"] == "restaurant-update")
{
  <h1 class="text-center">Edit restaurant</h1>
  <form action='/cuisine/@Model["selected-cuisine"].GetId()/restaurant/@Model["selected-restaurant"].GetId()/update' method="post">
    <input type="hidden" name="_method" value="PATCH">
    <div class="form-group">
      <label for="restaurant-name-input">Restaurant name:</label>
      <input type="text" name="restaurant-name-input" id="restaurant-name-input" class="form-control" value='@Model["selected-restaurant"].GetName()'>
    </div>
    <div class="form-group">
      <label for="restaurant-stars-input">How many stars would you rate it?</label>
      <input type="number" name="restaurant-stars-input" id="restaurant-stars-input" class="form-control" value='@Model["selected-restaurant"].GetStars()'>
    </div>
    <div class="form-group">
      <label for="cuisine-id-input">Cuisine</label>
      <input type="number" name="cuisine-id-input" id="cuisine-id-input" class="form-control" placeholder='@Model["selected-cuisine"].GetName()' disabled>
    </div>
    <button type="submit" class="btn btn-info">Update restaurant</button>
  </form>
}
