@{
  Layout="Shared/_Layout.cshtml";
}

<div class="row">
  <div id="cuisine-form" class="col-md-6">
    <h1 class="text-center">Cuisines</h1>
    @if(Model["cuisines"].Count == 0)
    {
      <h3>You have not added any cuisines yet!</h3>
    }

    @if(Model["cuisines"].Count != 0)
    {
      @foreach(var cuisine in Model["cuisines"])
      {
        <h4><a href="/cuisine/@cuisine.GetId()">@cuisine.GetName()</a> | <form class="inline-edit-button" action="/cuisine/@cuisine.GetId()/update" method="get"><input type="hidden" name="form-type" id="form-type" value="cuisine-update"><button type="submit" class="btn btn-xs">[edit]</button></form></h4>
      }
    }

    <form action="/cuisine/new">
      <button type="submit" class="btn btn-info">Add a new cuisine</button>
      <input type="hidden" name="form-type" id="form-type" value="cuisine">
    </form>


    @if(Model["cuisines"].Count != 0)
    {
      <form action="/" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" class="btn btn-danger">Delete all cuisines</button>
      </form>
    }
  </div>
  <div id="user-form" class="col-md-6">
    <h3>Create user profile</h3>
    <form action="/cuisine/profile/new" method="post">
      <div class="form-group">
        <label for="user-name">Enter your name</label>
        <input type="text" name="user-name" id="user-name" class="form-control">
      </div>
      <button type="submit" class="btn btn-info">Create profile</button>
    </form>

    @if(Model["user-name"] != null)
    {
      <h4>@Model["user-name"].GetName(), your profile has been created!</h4>
    }
  </div>
</div>
