@{
  Layout="Shared/_Layout.cshtml";
}
<h1 class="text-center">@Model["selected-cuisine"].GetName() Restaurants</h1>
@if(Model["restaurants"].Count == 0)
{
  <h3>You have not added any restaurants yet!</h3>
}
@foreach(var restaurant in Model["restaurants"])
{
  <a href='/cuisine/@Model["selected-cuisine"].GetId()/restaurant/@restaurant.GetId()'><h4>@restaurant.GetName()</h4></a>
}

<form action='/cuisine/@Model["selected-cuisine"].GetId()/restaurant/new'>
  <button type="submit" class="btn btn-info">Add a new restaurant</button>
  <input type="hidden" name="form-type" id="form-type" value="restaurant">
</form>

<form action='/cuisine/@Model["selected-cuisine"].GetId()/restaurant' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete all restaurants from this cuisine</button>
</form>

<form action='/cuisine/@Model["selected-cuisine"].GetId()/delete' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete this cuisine (All saved restaurants will be deleted)</button>
</form>


<a href="/"><span class="btn btn-info">Home page</span></a>
