@{
  Layout="Shared/_Layout.cshtml";
}
<h1 class="text-center">@Model["selected-cuisine"].GetName() Restaurants</h1>
@if(Model["restaurants"].Count == 0)
{
  <h3>You have not added any restaurants yet!</h3>
}
@foreach(var restaurant in Model["restaurants"])
{
  <h4>@restaurant.GetName() | <form class="inline-edit-button" action='/cuisine/@Model["selected-cuisine"].GetId()/restaurant/@restaurant.GetId()/update' method="get"><input type="hidden" name="form-type" id="form-type" value="restaurant-update"><button type="submit" class="btn btn-xs">[edit]</button></form></h4>
  <li>Stars: @restaurant.GetStars()</li>
}

<form action='/cuisine/@Model["selected-cuisine"].GetId()/restaurant/new'>
  <button type="submit" class="btn btn-info">Add a new restaurant</button>
  <input type="hidden" name="form-type" id="form-type" value="restaurant">
</form>

<form action='/cuisine/@Model["selected-cuisine"].GetId()/restaurant' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete all restaurants from this cuisine</button>
</form>

<form action='/cuisine/@Model["selected-cuisine"].GetId()/delete' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete this cuisine (All saved restaurants will be deleted)</button>
</form>


<h3><a href="/">Home page</a></h3>
