@{
  Layout="Shared/_Layout.cshtml";
}
<h1 class="text-center">@Model["selected-cuisine"].GetName() Restaurants</h1>
@if(Model["restaurants"].Count == 0)
{
  <h3>You have not added any restaurants yet!</h3>
}
@foreach(var restaurant in Model["restaurants"])
{
  <h4>@restaurant.GetName()</h4>
  <li>Stars: @restaurant.GetStars()</li>
}

<form action='/cuisine/@Model["selected-cuisine"].GetId()/restaurant/new'>
  <button type="submit" class="btn btn-info">Add a new restaurant</button>
  <input type="hidden" name="form-type" id="form-type" value="restaurant">
</form>

<form action='/cuisine/@Model["selected-cuisine"].GetId()/delete' method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit" class="btn btn-danger">Delete this cuisine</button>
  <h5>All saved restaurants will be deleted</h5>
</form>

<h3><a href="/">Home page</a></h3>
